{% extends "_base.html" %}
{% block content %}

<!-- <h1>Welcome to FlaskTaskr</h1>
<h3>Please login to access your task list.</h3>

<form method="post" action="/">
  <span>Username:<input type="text" name="username" value="{{request.form.username}}"></span>
  <span>Paswword:<input type="password" name="password" value="{{request.form.password}}"></span>
  <input type="submit" value="Login">
</form>

<p><em> User 'admin' for the username and password.</em></p> -->

    <div class="col-xs-4 col-xs-offset-4 text-center well">
        <div class=""><img src="static/img/flask-icon.png" alt=""></div>
        <br>
        <h3>Please sing in to access your task list</h3>
        <form action="/" class="form" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
              <!-- <input type="text" name="username" class="form-control" placeholder="Enter Username" value="{{ request.form.username }}" > -->
              {{ form.name(placeholder="name" )}}
              {% if form.name.errors %}
              <div class="alert alert-danger">
                {% for error in form.name.errors %}
                  {{error}}
                {% endfor %}
              </div>
              {% endif %}
            </div>
            <div class="form-group">
              <!-- <input type="password" name="password" class="form-control" placeholder="Enter Password" value="{{ request.form.password }}"> -->
              {{ form.password(placeholder="password" )}}
              {% if form.password.errors %}
              <div class="alert alert-danger">
                {% for error in form.password.errors %}
                  {{error}}
                {% endfor %}
              </div>
              {% endif %}
            </div>
            <button class="btn btn-primary" value="Login" type="submit">Login</button>
        </form>
        <br>
        <p><em>Need an account? </em><a href="register" tabindex="0">Signup!!</a></p>
    </div>



</div>

{% endblock %}
