<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">FlaskTaskr</a>
    </div>
    <div class="navbar-collapse collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

{% extends "_base.html" %}
{% block content %}


<div class="row">
  <div class="add-task col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 well well-sm text-center">
    <form action="{{ url_for('tasks.new_task')}}" method="post" class="form-inline">
      <h1>Add a new task:</h1>
      {{ form.csrf_token }}
      <div class="form-group">
        <!-- <label for="descField">Task Name:</label>
        <input type="text" name="name" class="form-control" placeholder="enter task name"> -->
        {{ form.name(placeholder="name" )}}
        {% if form.name.errors %}
        <span class="alert alert-danger">
          {% for error in form.name.errors %}
            {{error}}
          {% endfor %}
        </span>
        {% endif %}
      </div>
      <div class="form-group">
        <!-- <label for="descField">Due Date (mm/dd/yyyy):</label>
        <input type="text" name="due_date" class="form-control" placeholder="(mm/dd/yyy)"> -->
        {{ form.due_date(placeholder="due_date" )}}
        {% if form.due_date.errors %}
        <span class="alert alert-danger">
          {% for error in form.due_date.errors %}
            {{error}}
          {% endfor %}
        </span>
        {% endif %}
      </div>
      <div class="form-group">
        <!-- <label for="">Priority:</label>
        <select name="priority" id="">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select> -->
        {{ form.priority.label }}
        {{ form.priority }}
        {% if form.priority.errors %}
        <span class="alert alert-danger">
          {% for error in form.priority.errors %}
            {{error}}
          {% endfor %}
        </span>
        {% endif %}
      </div>
      <button class="btn btn-primary" type="submit" value="Save">Save</button>
    </form>
  </div>

  <div class="entries row">
    <br>
    <br>
    <div class="page-header col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <h2>Open Tasks:</h2>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-xs-10 ">
      <table class="table table-hover">
        <thead>
          <tr>
            <th width="300px"><strong>Task Name</strong></th>
            <th width="100px"><strong>Due Date</strong></th>
            <th width="100px"><strong>Posted Date</strong></th>
            <th width="100px"><strong>Priority</strong></th>
            <th width="100px"><strong>Poster By</strong></th>
            <th width="100px"><strong>Actions</strong></th>
          </tr>
        </thead>
        {% for task in open_tasks %}
          <tr>
            <td width="300px"> {{ task.name }} </td>
            <td width="100px"> {{ task.due_date }} </td>
            <td width="100px"> {{ task.posted_date }} </td>
            <td width="100px"> {{ task.priority }} </td>
            <td width="100px"> {{ task.poster.name }} </td>
            <td width="100px" class="col-xs-2">
              <a href="{{ url_for('tasks.delete_entry', task_id = task.task_id) }}" class="col-xs-1 glyphicon glyphicon-remove"/>
              <a href="{{ url_for('tasks.complete', task_id = task.task_id) }}" class="col-xs-1 glyphicon glyphicon-ok"/>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <br>
    <br>
  </div>

  <div class="entries row">
    <br>
    <br>
    <div class="page-header col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <h2>Closed Tasks:</h2>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-xs-10 ">
      <table class="table table-hover">
        <thead>
          <tr>
            <th width="300px"><strong>Task Name</strong></th>
            <th width="100px"><strong>Due Date</strong></th>
            <th width="100px"><strong>Posted Date</strong></th>
            <th width="100px"><strong>Priority</strong></th>
            <th width="100px"><strong>Poster By</strong></th>
            <th width="100px"><strong>Actions</strong></th>
          </tr>
        </thead>
        {% for task in closed_tasks %}
          <tr>
            <td width="300px"> {{ task.name }} </td>
            <td width="100px"> {{ task.due_date }} </td>
            <td width="100px"> {{ task.posted_date }} </td>
            <td width="100px"> {{ task.priority }} </td>
            <td width="100px"> {{ task.poster_name }} </td>
            <td width="100px" class="col-xs-2">
              <a href="{{ url_for('tasks.delete_entry', task_id = task.task_id) }}" class="col-xs-1 glyphicon glyphicon-remove"/>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <br>
    <br>
  </div>
</div>
{% endblock %}
