<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div class="navbar-collapse collapse ">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

{% extends "_base.html" %}
{% block content %}


<div class="row">
  <div class="add-task col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 well well-sm text-center">
    <form action="{{ url_for('new_task')}}" method="post" class="form-inline">
      {{ form.csrf_token }}
      <div class="form-group">
        <label for="descField">Task Name:</label>
        <input type="text" name="name" class="form-control" placeholder="enter task name">
      </div>
      <div class="form-group">
        <label for="descField">Due Date (mm/dd/yyyy):</label>
        <input type="text" name="due_date" class="form-control" placeholder="(mm/dd/yyy)">
      </div>
      <div class="form-group">
        <label for="">Priority:</label>
        <select name="priority" id="">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" value="Save">Save</button>
    </form>
  </div>

  <div class="entries row">
    <br>
    <br>
    <div class="page-header col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <h2>Open Tasks:</h2>
    </div>
    <div class="datagrid col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th width="300px"><strong>Task Name</strong></th>
            <th width="100px"><strong>Due Date</strong></th>
            <th width="100px"><strong>Priority</strong></th>

            <th width="100px"><strong>Actions</strong></th>
          </tr>
        </thead>
        {% for task in open_tasks %}
          <tr>
            <td width="300px"> {{ task.name }} </td>
            <td width="100px"> {{ task.due_date }} </td>
            <td width="100px"> {{ task.priority }} </td>
            <td width="100px" class="col-xs-2">
              <a href="{{ url_for('delete_entry', task_id = task.task_id) }}" class="col-xs-1 glyphicon glyphicon-remove"/>
              <a href="{{ url_for('complete', task_id = task.task_id) }}" class="col-xs-1 glyphicon glyphicon-ok"/>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <br>
    <br>
  </div>

  <div class="entries row">
    <br>
    <br>
    <div class="page-header col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <h2>Closed Tasks:</h2>
    </div>
    <div class="datagrid col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th width="300px"><strong>Task Name</strong></th>
            <th width="100px"><strong>Due Date</strong></th>
            <th width="100px"><strong>Priority</strong></th>
            <th width="100px"><strong>Actions</strong></th>
          </tr>
        </thead>
        {% for task in closed_tasks %}
          <tr>
            <td width="300px"> {{ task.name }} </td>
            <td width="100px"> {{ task.due_date }} </td>
            <td width="100px"> {{ task.priority }} </td>
            <td width="100px" class="col-xs-2">
              <a href="{{ url_for('delete_entry', task_id = task.task_id) }}" class="col-xs-1 glyphicon glyphicon-remove"/>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <br>
    <br>
  </div>
</div>
{% endblock %}
